<nav>
  <h4>Related Events</h4>
  <p>
     <a href="https://nycryptoday.wordpress.com/">New York Crypto Day</a><br>
     <a href="https://bostoncryptoday.wordpress.com">Charles River Crypto Day</a><br>
     <a href="https://dcareacryptoday.wordpress.com/">DC Area Crypto Day</a><br>
     <a href="https://bacrypto.github.io/">Bay Area Crypto Day</a><br>
     <a href="https://londoncryptoday.wordpress.com/">London Crypto Day</a><br>
     <a href="https://tokyocryptoday.github.io/">Tokyo Crypto Day</a><br>
     <a href="https://swisscryptoday.github.io/">Swiss Crypto Day</a><br>
     <a href="http://www.cs.tau.ac.il/cseminar/">GTACS</a>
     </p>
     
    <h4>Previous Editions</h4>
    {% for post in site.posts %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %Y" }}</a><br>
    {% endfor %}
    <!--
    {% for post in site.posts %}
      {{ post.date | date: "%b %Y" }}<br>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
    {% endfor %}
      -->
  </nav>
<footer>
  <p><small>Hosted on GitHub Pages &mdash; based on Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
